<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="tls-demo-app">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.priyan" level="INFO"/>
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
